[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
"psycopg2-binary" = "*"
django-allauth = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-jwt = "*"
django-taggit = "*"
django-taggit-serializer = "*"
django-imagekit = "*"
pillow = "*"
django-rest-auth = "*"
django-cors-headers = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
